.wrapper-filter-bar {
    background-color: #FFD5D2;
    width: 62vw;
    font-size: 3vh;
    height: 6vh;
    border: none;
    outline: none;
    border-radius: 2.5vh;
    padding-left: 2vw;
    padding-right: 1vw;
    color: #51294B;
    font-family: 'Rowdies', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-filter-bar {
    background-color: #FFD5D2;
    border: none;
    outline: none;
    width: 56vw;
}