.statistics-container {
    color: #51294B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80vw;
    background-color: #FFF1DE;
    border-radius: 2vh;
}
