.main-page-main {
    height: auto;
    background-color: #FFF1DE;
    margin-left: 8%;
    margin-right: 8%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.all-rectangles-main {
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-main {
    background-color: #51294B;
    width: 100%;
    height: 10vh;
    margin-bottom: 3vh;
}

.title-banner-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4%;
    background-color: #f4a2b8;
    width: 100%;
    height: 18vh;
    margin-bottom: 3vh;
}

.icon-main {
    margin-right: 3%;
    width: 12vh;
    height: 12vh;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #51294B;
    padding: 1vh;
    border: 1vh solid #FFD5D2;
}

.image-banner-main {
    background-color: #51294B;
    width: 100%;
    height: 66vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 3%;
}

.empty-area-main {
    width: 100%;
    height: 60vh;
    text-align: left;
}

.orange-border-container-main {
    width: 100%;
    height: 33vh;
    margin-bottom: 3vh;
    background-color: skyblue;
}

.filtering-main {
    width: 100%;
    height: 8vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-container-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.buttons-list-main {
    background-color: #51294B;
    width: 20vw;
    padding: 2vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2vh;
}

.cat-list-main {
    min-height: 100%;
    background-color: #f4a2b8;
    width: 62vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    padding: 3vh;
    align-items: center;
    justify-content: center;
}

.pagination-main {
    width: 100%;
    height: 8vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.statistics-list-main {
    background-color: #F2B45A;
    width: 100%;
    height: 60vh;
    margin-bottom: 3vh;
}